.footer__content {
  align-items: center;
  background-color: rgb(15, 15, 15);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 0.2rem;
  text-align: center;
  width: 100%;
}
.footer__text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 800;
  gap: 20px;
  @media (max-width: 325px) {
    font-size: 1rem;
  }
}

.footer__text p {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.footer__text p:hover {
  color: #7691a8;
}
.footer__logo {
  width: 70px;
}
